#dancing-cubes {
    width: calc(80 * var(--cw));
    margin-left: calc(10 * var(--cw));
    margin-top: calc(-4 * var(--cw));
}

#about .main-image {
    width: calc(88 * var(--cw));
    margin-left: calc(6 * var(--cw));
}

#about #about-text-container {
    position: absolute;
    width: calc(56 * var(--cw));
    left: calc(22 * var(--cw));
    top: calc(18.5 * var(--cw));
    font-size: var(--text-height);
    font-family: 'HelveticaThermal', sans-serif;
}

#about #about-text-container h1 {
    font-size: var(--subtitle-height);
    line-height: calc(var(--subtitle-height) * 1.6);
}

#about #about-text-container li {
    list-style-type: none;
}

/* Desktop Layout */

#about #about-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about #about-text-container #skills {
    width: calc(20 * var(--cw));
}

#about #about-text-container #fast-facts {
    width: calc(50 * var(--cw));
}

#about #about-text-container #education {
    margin-top: calc(5 * var(--cw));
    grid-column: 1 / -1;
}

/* Mobile Layout */

/* #about #about-text-container {
    display: block;
}

#about #about-text-container section {
    margin-bottom: 1rem;
}

#about #about-text-container #skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
} */
