#dancing-cubes {
    width: 80vw;
    margin-left: 10vw;
    margin-top: -4vw;
}

#about .main-image {
    width: 88vw;
    margin-left: 6vw;
}

#about #about-text-container {
    position: absolute;
    width: 56vw;
    left: 22vw;
    top: 18.5vw;
    font-size: var(--text-height);
    font-family: 'HelveticaThermal', sans-serif;
}

#about #about-text-container h1 {
    font-size: var(--subtitle-height);
    line-height: calc(var(--subtitle-height) * 1.6);
}

#about #about-text-container li {
    list-style-type: none;
}

/* Desktop Layout */

#about #about-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about #about-text-container #skills {
    width: 20vw;
}

#about #about-text-container #fast-facts {
    width: 50vw;
}

#about #about-text-container #education {
    margin-top: 5vw;
    grid-column: 1 / -1;
}

/* Mobile Layout */

/* #about #about-text-container {
    display: block;
}

#about #about-text-container section {
    margin-bottom: 1rem;
}

#about #about-text-container #skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
} */
