#landing {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 6vw;
}

#landing-background {
    width: 100%;
}

#face-melt {
    position: absolute;
    width: 74%;
    left: 13%;
    top: 16vw;
}