#landing {
    width: 100%;
    padding-top: 40px;
    padding-bottom: calc(6 * var(--cw));
}

#landing-background {
    width: 100%;
}

#face-melt {
    position: absolute;
    width: 74%;
    left: 13%;
    top: calc(16 * var(--cw));
}

@media (max-aspect-ratio: 1/1) {
    #landing {
        padding-top: 0;
        margin-top: -10vw;
    }

    #landing-background {
        margin-left: -16vw;
        width: 132vw;
    }

    #face-melt {
        width: 100%;
        left: 0;
        top: 25vw;
    }
}