#landing {
    width: 100%;
    padding-top: 40px;
    padding-bottom: calc(6 * var(--cw));
}

#landing-background {
    width: 100%;
}

#face-melt {
    position: absolute;
    width: 74%;
    left: 13%;
    top: calc(16 * var(--cw));
}