#links-container {
    aspect-ratio: 2555 / 2110;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    margin-bottom: -13%;
}

#inactive-region {
    height: 53%;
    width: 100%;
    position: absolute;
}

blank-slice,
interactive-slice {
    height: 100%;
    position: relative;
    float: left;
}