#links-container {
    aspect-ratio: 2555 / 2110;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    margin-bottom: -13%;
}

#links-text {
    z-index: 1;
    position: absolute;
    width: 80%;
    top: 20vw;
    left: 10%;
    height: 11vw;
    display: flex;
    align-items: center;
}

#inactive-region-top {
    height: 53%;
    width: 100%;
    position: absolute;
}

#inactive-region-left {
    position: absolute;
    width: 11.2%;
    height: 47%;
    top: 53%;
    left: 11.5%;
}

#inactive-region-right {
    position: absolute;
    width: 11.2%;
    height: 47%;
    top: 53%;
    right: 22.1%;
}

interactive-slice {
    height: 100%;
    position: relative;
    float: left;
}

#click-my-links {
    margin-top: -5vw;
}