#main-stack {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    display: block;
    flex-direction: column;
    gap: 20vh;
    overflow: hidden;
}

#main-stack > * {
    position: relative;
}

.main-image,
section {
    width: 100%;
}