#main-stack {
    top: 0;
    left: var(--content-margin);
    width: calc(100 * var(--cw));
    position: relative;
    display: block;
    flex-direction: column;
    gap: 20vh;
}

#main-stack > * {
    position: relative;
}

.main-image,
section {
    width: 100%;
}

.full-width {
    width: 100vw;
    margin-left: calc(var(--content-margin) * -1);
}