/* buttons, cards, sections */

:root {
    --carousel-width: calc(100vw - var(--scroll-width));
    --slide-width: 50vw;
    --slide-margin: calc((var(--carousel-width) - var(--slide-width)) / 2);
    --slide: 0; /* Modified by the slideshow.js script */
}

.section-title {
    width: 98%;
    margin-left: 1%;
}

#carousel-container {
    width: var(--carousel-width);
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x: hidden;
    padding-left: calc(var(--carousel-width) * -1 * var(--scroll-index));
}

#carousel {
    transform: translateX(calc(-1 * var(--carousel-width) * var(--slide)));
    display: flex;
    flex-direction: row;
    gap: calc(var(--slide-margin) * 2);
    padding-left: var(--slide-margin);
}

.slide {
    min-height: 60px;
    min-width: var(--slide-width);
    font-size: 40px;
    color: white;
    background-color: red;
}