/* ---- Z-Index Allocations ----
 40 <- Loading Screen (must be above all else)
 21 <- Full-Screen Exit Button
 20 <- Full-Screen Images
 12 <- Pop-Up Exit Button
 11 <- Pop-Ups
 10 <- Pop-Up Blur
 0  <- Black Background (Blackground)
*/

/* #region ---- Variables + Overhead ---- */

:root {
    --background-slice-width: 1920;
    --background-slice-height: 3116;
    --default-width: 86%;
    --default-margin: calc((100% - var(--default-width)) / 2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #101010;
}

main {
    height: 100vh;
    overflow: scroll;
}

img {
    pointer-events: none;
    user-select: none;
}

#main-stack {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    display: block;
    flex-direction: column;
    gap: 20vh;
    overflow: hidden;
}

#main-stack>* {
    position: relative;
}

.main-image,
section {
    width: 100%;
}

/* #endregion */
/* #region ---- Loading ---- */

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    transition: opacity 0.5s ease-out;
}

#loading-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading.end {
    opacity: 0;
    pointer-events: none;
}

/* #endregion */
/* #region ---- Background ---- */

#main-background {
    position: absolute;
    display: block;
    width: 100%;
}

#main-background img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* #endregion */
/* #region ---- Stationary Content ---- */

.stationary {
    position: fixed;
    top: 0;
    left: 0;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

#blur {
    z-index: 10;
    background-color: rgba(6, 0, 1, 0.7);
    backdrop-filter: blur(10px);
}

.popup {
    z-index: 11;
}

.openable {
    display: none;
}

.openable.open {
    display: block;
}

/* #endregion */
/* #region ---- Landing Section ---- */

#landing {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 14vh;
}

#landing-background {
    width: var(--default-width);
    margin-left: var(--default-margin);
}

#face-melt {
    position: absolute;
    width: 64%;
    left: 18%;
    top: 10vw;
}

/* #endregion */
/* #region ---- About Section ---- */

#dancing-cubes {
    width: calc(var(--default-width) * 0.8);
    margin-left: calc(var(--default-margin) + var(--default-width) * 0.1);
    transform: translateY(-10vh);
}

/* #endregion */
/* #region ---- Misc Works ---- */

#misc-works {
    position: relative;
    padding-bottom: 60px;
}

.image-grid {
    position: absolute;
    top: 20%;
    left: 20vw;
    width: 60vw;
    aspect-ratio: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    pointer-events: all;
}

.image-grid img:not(.wip) {
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.3s;
}

.image-grid img:not(.wip):hover {
    filter: grayscale(0%);
    transition: 0.3s;
}

.image-grid img.wip {
    cursor: not-allowed;
}

/* #endregion */
/* #region ---- Animation Section ---- */

.animation-slideshow {
    aspect-ratio: 2 / 1;
    padding-bottom: 14vh;
}

/* #endregion */
/* #region ---- Links Section ---- */

#links-container {
    aspect-ratio: 2555 / 2110;
    position: relative;
    overflow: hidden;
    width: calc(var(--default-width) - 8%);
    margin-left: calc(var(--default-margin) + 4%);
}

#inactive-region {
    height: 53%;
    width: 100%;
    position: absolute;
}

blank-slice,
interactive-slice {
    height: 100%;
    position: relative;
    float: left;
}

/* #endregion */
/* #region ---- Full Screen Images ---- */

#image-full-screen-container {
    z-index: 20;
    background-color: black;
}

#image-full-screen {
    object-fit: contain;
}

#exit-button {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5%;
    right: 5%;
    background-image: url('https://cdn.jsdelivr.net/gh/Ben-G-Man/sam-hume-portfolio@main/public/images/project-popups/exit-symbol-1.webp');
    background-size: cover;
    cursor: pointer;
    z-index: 21;
}

#exit-button:hover {
    background-image: url('https://cdn.jsdelivr.net/gh/Ben-G-Man/sam-hume-portfolio@main/public/images/project-popups/exit-symbol-2.webp');
}

/* #endregion */
