/* #region ---- Variables + Overhead ---- */

:root {
    --background-slice-width: 1920;
    --background-slice-height: 3116;
    --default-width: 86%;
    --default-margin: calc((100% - var(--default-width)) / 2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #101010;
}

main {
    height: 100vh;
    overflow: scroll;
}

img {
    pointer-events: none;
    user-select: none;
}

#main-stack {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    overflow: hidden;
}

#main-stack>* {
    position: relative;
}

.main-image,
section {
    width: 100%;
}

/* #endregion */
/* #region ---- Background ---- */

#main-background {
    position: absolute;
    display: block;
    width: 100%;
}

#main-background img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* #endregion */
/* #region ---- Stationary Content ---- */

.stationary {
    position: fixed;
    top: 0;
    left: 0;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

#blur {
    z-index: 3;
    background-color: rgba(6, 0, 1, 0.7);
    backdrop-filter: blur(10px);
}

.popup {
    z-index: 4;
}

.openable {
    display: none;
}

.openable.open {
    display: block;
}

/* #endregion */
/* #region ---- Landing Section ---- */

#landing {
    width: 100%;
    padding-top: 40px;
}

#landing-background {
    width: var(--default-width);
    margin-left: var(--default-margin);
}

#face-melt {
    position: absolute;
    width: 64%;
    left: 18%;
    top: 10vw;
}

/* #endregion */
/* #region ---- About Section ---- */

#dancing-cubes {
    width: calc(var(--default-width) * 0.8);
    margin-left: calc(var(--default-margin) + var(--default-width) * 0.1);
    transform: translateY(-10vh);
}

/* #endregion */
/* #region ---- Misc Works ---- */

#misc-works {
    position: relative;
}

#wiggle-man {
    position: absolute;
    z-index: 2;
    transform: translateY(100%);
    left: 0;
    bottom: 0;
    transform: translateY(40%);
}

.image-grid {
    position: absolute;
    top: 25%;
    left: 20vw;
    width: 60vw;
    aspect-ratio: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3%;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: all;
    cursor: pointer;
    display: block;
    filter: grayscale(100%);
    transition: 0.3s;
}

.image-grid img:hover {
    filter: grayscale(0%);
    transition: 0.3s;
}

/* #endregion */
/* #region ---- Links Section ---- */

#links-container {
    aspect-ratio: 2555 / 2110;
    position: relative;
    overflow: hidden;
    width: 60vw;
    margin-left: 20vw;
}

#inactive-region {
    height: 53%;
    width: 100%;
    position: absolute;
}

blank-slice,
interactive-slice {
    height: 100%;
    position: relative;
    float: left;
}

/* #endregion */