#image-full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#image-full-screen {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#exit-button {
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 5%;
    right: 5%;
    background-image: url('https://cdn.jsdelivr.net/gh/Ben-G-Man/sam-hume-portfolio@main/public/images/project-popups/exit-symbol-2.webp');
    filter: grayscale(100%);
    transition: filter 0.1s ease;
    background-size: cover;
    cursor: pointer;
    z-index: 21;
}

#exit-button:hover {
    filter: grayscale(0%);
    transition: filter 0.1s ease;
}