#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    transition: opacity 0.5s ease-out;
    background-color: #101010;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading.end {
    opacity: 0;
    pointer-events: none;
}

#loading-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: var(--subtitle-height);
}

/* Loading Text Animation */

#loading span {
  display: inline-block;
  animation: jitter 1s infinite steps(1);
}

#loading span:nth-child(1) { animation-delay: -0.00s; }
#loading span:nth-child(2) { animation-delay: -0.57s; }
#loading span:nth-child(3) { animation-delay: -0.14s; }
#loading span:nth-child(4) { animation-delay: -0.85s; }
#loading span:nth-child(5) { animation-delay: -0.28s; }
#loading span:nth-child(6) { animation-delay: -0.71s; }
#loading span:nth-child(7) { animation-delay: -0.42s; }

@keyframes jitter {
  0%   { transform: translate(0px, 0px); }
  14.28% { transform: translate(-0.25px, 0.6px); }
  28.57% { transform: translate(0.2px, -1.1px); }
  42.85% { transform: translate(-0.3px, -1px); }
  57.14% { transform: translate(0.25px, 0.7px); }
  71.42% { transform: translate(-0.2px, -1px); }
  85.71% { transform: translate(0.2px, 0.7px); }
  100% { transform: translate(0px, 0px); }
}