#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    transition: opacity 0.5s ease-out;
    background-color: #101010;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading.end {
    opacity: 0;
    pointer-events: none;
}